#body {
    -fx-background-color: #b9e2f5;
    -webkit-background-color: #b9e2f5;
    -moz-background-color: #b9e2f5;
    -fx-border-color: #b9e2f5;
    -webkit-border-color: #b9e2f5;
    -moz-border-color: #b9e2f5;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

#body2 {
    -fx-background-color: #dcf0fa;
    -webkit-background-color: #dcf0fa;
    -moz-background-color: #dcf0fa;
    -fx-border-color: #dcf0fa;
    -webkit-border-color: #dcf0fa;
    -moz-border-color: #dcf0fa;
    -fx-border-width: 2px;
    -fx-border-radius: 150px;
    -fx-background-radius: 50px;
}