* {
    /* From darkest to lightest */
    blue1: #50b8e7;
    blue2: #84cdee;
    blue3: #b9e2f5;
    blue4: #dcf0fa;
    blue5: #edf7fc;
}


/*Window Button Styles*/
.windowBtn:hover {
    -fx-background-color: blue2;
}

#closeBtn:hover {
    -fx-background-color: #e19999;
}


/* Dialogue.fxml Styles */

.getStartedBtn:hover {
    -fx-background-color: blue2; 
}

.privacyCheckbox {
    -fx-border-radius: 0; 
    -fx-focus-color: transparent;
}

.privacyCheckbox:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent; 
}

.privacyCheckbox:selected .box .mark {
    -fx-background-color: blue1; 
}

.searchContainer{
    -fx-border-color:#50b8e7;
    -fx-border-radius: 30;

}